@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer components {
  /* Right to Left Animation */
  @keyframes scroll-right-to-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Left to Right Animation */
  @keyframes scroll-left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  /* Animations applied to elements */
  .animate-scroll-left-to-right {
    animation: scroll-left-to-right 40s linear infinite;
    display: flex;
    white-space: nowrap;
  }

  .animate-scroll-right-to-left {
    animation: scroll-right-to-left 40s linear infinite;
    display: flex;
    white-space: nowrap;
  }
}
=======
>>>>>>> 9cba45d7737892cd278ad56b6919fca3cc1353bb
